*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    position: relative;
    content: "";
    width: 800px;
    height: 200px;
    background-color: green;
    margin: 50px auto;
    margin-top: 300px;
}
.container::before{
    position: absolute;
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: brown;
    top:0%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    border: 20px solid white;

}
/* .container::after{
    position: absolute;
    content: " ";
    height: 215px;
    width: 220px;
    background-color:white;
border-radius: 50%;
    top:0%;
    left: 50%;
    transform: translate(-50%,-50%);
    
} */